<h1>Editing student</h1>

<%= render 'form' %>

<!--<%= link_to 'Show', [@student.dojo, @student] %> |-->
<!--<%= link_to 'Show', [@student.dojo] %> |-->

<!--<%= link_to 'Back', dojo_students_path(@student.dojo) %>-->
<%= link_to 'Back', dojo_path(@student.dojo) %>
