<h1><%= @dojo.branch %> Branch</h1>
<label>Branch: <%= @dojo.branch %></label>
<br>
<label>Street: <%= @dojo.street %></label>
<br>
<label>City: <%= @dojo.city %></label>
<br>
<label>State: <%= @dojo.state %></label>
<br>
<a href="/dojos/<%= @dojo.id %>/edit">edit</a>