<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Content</th>
    <th>rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.content %></td>
    <td><%= review.rating %></td>
    <td><%= link_to 'Show', [review.book, review] %></td>
    <td><%= link_to 'Edit', edit_book_review_path(review.book, review) %></td>
    <td><%= link_to 'Destroy', [review.book, review], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_book_review_path(params[:book_id]) %>
